/.vs
/packages
/KingOfThievesWpfGemCalculator/obj
/KingOfThievesWpfGemCalculator/bin
/KingOfThievesWpfGemCalculator.sln.DotSettings.user
/KingOfThievesWpfGemCalculator/KingOfThievesWpfGemCalculator.csproj.user
